<div class="container">
    <h3>skills</h3>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <h5>languages</h5>
            <ul>
                <li>JavaScript - including 6</li>
                <li>C#</li>
                <li>C++</li>
                <li>C</li>
                <li>Java</li>
                <li>Visual Basic</li>
                <li>python</li>
                <li>php</li>
                <li>css</li>
            </ul>
        </div>
        <div class="col-sm-6 col-xs-12">
            <h5>front-end libraries</h5>
            <ul>
                <li>React</li>
                <li>Angular</li>
                <li>Vuejs</li>
                <li>Knockout.js</li>
            </ul>
        </div>
    </div>
</div>