<div class="container">
    <h3>skills</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h5>languages</h5>
            <ul>
                <li>JavaScript - including ES6</li>
                <li>C#</li>
                <li>C++</li>
                <li>C</li>
                <li>Java</li>
                <li>Visual Basic</li>
                <li>Python</li>
                <li>PHP</li>
                <li>CSS</li>
                <li>Typescript</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h5>front-end libraries</h5>
            <ul>
                <li>React</li>
                <li>Angular</li>
                <li>Vuejs</li>
                <li>Knockout.js</li>
            </ul>
            <h5>databases</h5>
            <ul>
                <li>Microsoft SQL Server</li>
                <li>PostgreSQL</li>
                <li>MySQL</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h5>operating systems</h5>
            <ul>
                <li>Windows Server upto 2019</li>
                <li>Ubuntu Linux 14.04-20.04</li>
            </ul>
            <h5>cloud services</h5>
            <ul>
                <li>Amazon Web Services</li>
                <li>Google Cloud Platform</li>
                <li>Microsoft Azure</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h5>webservers</h5>
            <ul>
                <li>IIS</li>
                <li>Apache2</li>
                <li>Nodejs</li>
            </ul>
            <h5>javascript runtime</h5>
            <ul>
                <li>Nodejs</li>
            </ul>
        </div>
    </div>
</div>