<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <h5>in the menu above:</h5>
                <div class="col-sm-0 col-md-3">
                    Click <strong>skills</strong> for a summary of all the good stuff I've learned!
                </div>
                <div class="col-sm-0 col-md-3">
                    Click <strong>projects</strong> to checkout the projects I've worked on so far!
                </div>
                <div class="col-sm-0 col-md-3">
                    Click <strong>github</strong> to see some of my coding, and look at some of my projects!
                </div>
                <div class="col-sm-0 col-md-3">
                    Click <strong>contact</strong> to email me!
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-6">
                    <a href="https://bcert.me/soimjcymf"><img src="assets\images\badge-7227.png" style="width: 100%" alt="image"></a>
                </div>
                <div class="col-6">
                    <a href="https://confirm.udacity.com/TRUJ6GCT"><img class="mt-5" src="assets\images\Udacity.PNG" style="width: 100%" alt="image"></a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="container-sm border" style="max-width: 380px;">
                <div class="row py-3">
                    <div class="col">
                        <img class="rounded-1" style="width: 100%" src="assets/images/profile-pic.png" alt="A picture of a world class Full-Stack developer.">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>I'm a full-stack developer, certified engineering technologist, and certified scrum master, trained in the arts of full-stack development. Fueled by dreams and a steady stream of caffiene, I am pushing myself to new heights.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


