<div class="container-sm border" style="max-width: 380px;">
    <div class="row py-3">
        <div class="col">
            <img class="rounded-1" style="width: 100%" src="assets/images/profile-pic.png" alt="A picture of a world class Full-Stack developer.">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>I'm a Full-Stack developer, trained in the arts of Full-Stack development. Fueled by dreams and a steady stream of caffiene, I am pushing myself to new heights.</p>
        </div>
    </div>
</div>


